* {
  font-family: 'General Sans', sans-serif;
}

body {
  background-color: rgb(243, 243, 248);
}

/* GRID */
.media-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  padding: 34px 60px;
}

@media (max-width: 1024px) {
  .media-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .media-grid {
    grid-template-columns: 1fr;
  }
}

/* CARD */
.media-card {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 4px;
}

.media-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.media-card .gif {
  opacity: 0;
}

.media-card:hover .gif {
  opacity: 1;
}

.media-card:hover .static {
  opacity: 0;
}

/* INFO CARD */
.info {
  position: relative;
  display: grid;
  grid-template-columns: 62px 180px;
  grid-template-rows: 85px;
  align-items: center;
  border: 1px solid #e0e0e0;
  width: 87vw;
  height: 85px;
  padding: 0 24px;
  border-radius: 6px;
  margin: 6vh auto;
}

.pic {
  width: 60px;
  height: 60px;
  border: 1px solid #e0e0e0;
  border-radius: 100px;
  overflow: hidden;
}

.name {
  padding: 0 20px;
  font-weight: bold;
  font-size: 18px;
  color: #5777f7;
}

.desc {
  position: relative;
  top: -29px;
  left: 22px;
  font-size: 10px;
  color: #707070;
}

/* ICONS */
.icons {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.lkd {
  width: 20px;
  height: 20px;
}

.insta {
  width: 18px;
  height: 18px;
  padding: 2px 12px;
}

/* BUTTONS */
.buttons {
  display: grid;
  grid-template-columns: 120px 120px;
  justify-content: center;
  padding: 15px 0;
}

.work, .port {
  display: flex;
  border: 1px solid #e0e0e0;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  color: #5777f7;
  font-size: 12px;
}

.work:hover, .port:hover, .buttonSend:hover {
  background-color: #5777f7;
  color: white;
}

/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 0 24px;
  width: 87vw;
  margin: 0 auto;
}

form {
  display: flex;
  width: 80vw;
  flex-direction: column;
}

h2 {
  font-size: 18px;
  color: #5777f7;
}

input, textarea {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 4px;
}

input:focus-visible, textarea:focus-visible {
  outline: 1px solid #57aaf7;
}

.buttonSend {
  margin: 2vh auto;
  width: 100px;
  height: 30px;
  font-size: 12px;
  color: #5777f7;
}
